/* Reset default styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Style the navigation bar */

.navbar {
   
    background-color: rgb(56 238 27);
    display: flex;
    position: fixed; 
   
    height: 90px;
    top: 0;
    cursor: pointer;
    width:100%;
    min-height: fit-content;
    z-index: 100;
}


.navbar ul {
    padding: 0;
    list-style: none;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar a:hover {
    color: #00bcd4; /* Change the color on hover */
}

.login{
    display: flex;
    position: absolute;
<<<<<<< HEAD
    right: 0;
    top: 40px;
    background-color: green;

=======
    right: 3%;
    top: 35px;
    
>>>>>>> 6ea8e7bf782c6a326c5dc79832237d3321ba433c
}

/* Add some styles for the content to demonstrate the sticky effect */
.content {
    padding: 20px;
    height: 120px; /* Add enough content to make scrolling necessary */
}


/* Reset default styles */


/* Style the footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
}

.footer-content ul {
    display: flex;
    list-style: none;
}

.footer-content li {
    margin-right: 20px;
}

.footer-content a {
    text-decoration: none;
    color: #fff;
}

.footer-content a:hover {
    text-decoration: underline;
}
