

{% extends "index.html" %}
{% block title %} About Us {% endblock title %}

{% block content %}

<div class="text-bg-dark p-3">
        <br>
    <pre><h1>   <b>About us</b></h1></pre>
    
</div>

<div class="row g-0 bg-body-primary position-relative text-bg-secondary p-3">
    <div class="col-md-6 mb-md-0 p-md-4">
        
      <img style="border-radius: 1%;" src="https://thumbs.dreamstime.com/b/indian-farmer-holding-crop-plant-his-wheat-field-indian-farmer-holding-crop-plant-his-wheat-field-123557697.jpg" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h2 class="mt-0">About Bharat Krishisarthi 
      </h2>

      <p >At Bharat Krishisarthi, we are dedicated to revolusonizing the agricultural landscape in
          India. Our mission is to empower farmers through web-based experƟse exchange, enabling real-Ɵme
          knowledge sharing, problem-solving, and fostering informed decision-making for improved crop yield
          and farm management.Our mission is to empower farmers through web-based experƟse exchange, enabling real-Ɵme
          knowledge sharing, problem-solving, and fostering informed decision-making for improved crop yield
          and farm management.Our mission is to empower farmers through web-based experƟse exchange, enabling real-Ɵme
          knowledge sharing, problem-solving, and fostering informed decision-making for improved crop yield
          and farm management.problem-solving, and fostering informed decision-making for improved crop yield
          and farm management.problem-solving, and fostering informed decision-making for improved crop yield
          and farm management. </p>
          
   
    <br>
    <br>
   
    </div>
  </div>



<div class="row g-0 bg-body-primary position-relative text-bg-dark p-3">

<div class="col-md-6 mb-md-0 p-md-4">
    <br>
    <h3 class="mt-0">Key Roles</h3>
    <br>
   <p><b>Who We Are: </b>Bharat Krishisarthi is a team of passionate individuals driven by the desire to make a
    meaningful impact in the lives of farmers across India. We believe that access to expert knowledge
    and collaboraƟon can transform tradiƟonal farming pracƟces and lead to sustainable agriculture.
    <p><b>Our Journey:</b>Bharat Krishisarthi has embarked on a journey to bridge the gap between farmers and
        agricultural experts. We have witnessed the challenges faced by farmers firsthand and understand
        the criƟcal role that knowledge plays in addressing these challenges.</p> 
    <p><b>What We Offer:</b>Our web site provides a dynamic plaƞorm where farmers can connect with
        agricultural experts, facilitaƟng the exchange of real-Ɵme insights, soluƟons, and best pracƟces. We
        offer a range of features and tools designed to empower farmers to make informed decisions for
        improved crop yield and farm management.</p> 
        <p><b>Why Choose Us:
        </b></p>
        <ul >
            <li><b>Expertise:</b> Our plaƞorm connects you with a network of experienced agricultural
                professionals. </li>
            <li><b>Real-Time Support:</b> Get instant answers and guidance to address your farming challenges. </li>
            <li><b>Community:</b> Join a vibrant community of farmers and experts passionate about agriculture</li>
            <li><b>Empowerment:</b> Make data-driven decisions to enhance crop yields and farm profitability. </li> 
        </ul>
  </div>
<div class="col-md-6 p-4 ps-md-0" style="position: 10%;">
    <br>
  <img src="https://kj2bcdn.b-cdn.net/media/21007/digital-benefit-of-agriculture-1.jpg" class="w-100" alt="...">
    <br>
    <br>
  <h3 class="mt-0">Contact Us</h3>
 <p><b>Our Commitment:</b> We are commiƩed to driving posiƟve change in the agricultural sector. We stand
    by our values of transparency, sustainability, and inclusivity, and we work Ɵrelessly to provide
    farmers with the resources and support they need to thrive. </p>
    <br>
    <p>
    <b>Join Us in CulƟvaƟng Success:</b> Become a part of the Bharat Krishisarthi community today and
    embark on a journey toward more sustainable and prosperous farming. Together, we can culƟvate
    success and transform Indian agriculture. 
    </p>
    <br>
    <p>
   <b> Contact Us:</b> Have quesƟons or want to learn more? We're here to help! Feel free to reach out to us
    at Email :<a href="#">BharatKrishiSarthi7437@gmail.com.</a></p>  
</div>

</div>
{% endblock content %}

