<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bharatkrishisarthi</title>
</head>
<body>
    <h1>Latest Appointment</h1>
    <table>
        <tr>
            <th>Sr.no.</th>
            <th>Expert Name</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
        

    </table>
    <h1>Past Appointment</h1>
    <table>
        <tr>
            <th>Sr.no.</th>
            <th>Expert Name</th>
            <th>Time</th>
            <th>Status</th>
        </tr>

    
</body>
</html>