{% extends 'index.html' %}

{% block title %}
    Book Appointment 
{% endblock title %}


{% block content %}

<h1>Latest Appointment</h1>
{{city}}
<table>
    <tr>
        <th>Sr.no.</th>
        <th>Expert Name</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Rahul Chauhan</td>
        <td>10:00 AM</td>
        <td>12:00 PM</td>
        <td><a href="videocall/"><button type="button" class="btn btn-primary">Join</button></a></td>
    </tr>
    

</table>
<h1>Past Appointment</h1>
<table>
    <tr>
        <th>Sr.no.</th>
        <th>Expert Name</th>
        <th>Time</th>
        <th>Status</th>
    </tr>
{% endblock content %}


    