
<div class="content" style="padding: 0px; background-color: #fff; margin-left: 15%; margin-right: 15%; border: 2px solid #000;">
    <div class="container" style="background-color: #fff;">
        <div class="panel panel-primary dialog-panel">
            <div class="panel-heading1" style="background-color: blue; text-align: center;color: white;">
                <h3>Best Practices of Cultivation</h3>
            </div>
            <div class="panel-body">

                
                <p align="JUSTIFY"><span  style="font-size: medium ">Good agricultural practices are specific methods when applied to agriculture, create food for consumers or further processing that is safe and wholesome.&nbsp; A farmer performs following eight major steps from crop selection to harvesting &ndash;</span></p>
                <p>
                    <ol style="margin-left: 87px;font-size:medium">
                        <li>Crop selection</li>
                        <li>Land preparation</li>
                        <li>Seed selection</li>
                        <li>Seed sowing & Soil Testing and Analysis </li>
                        <li>Irrigation</li>
                        <li>Crop growth</li>
                        <li>Fertilizing</li>
                        <li>Harvesting</li>
                    </ol>
                </p>
                <p align="JUSTIFY"><span style="font-size: medium; ">Good agronomic practices are the application of all these eight steps incorporated into farm management systems to improve soil quality, enhance water use, manage crop residues and improve the environment through better fertilizer management.</span></p>
                <p align="RIGHT" style="text-align: right;"><span style="font-size: medium;"><strong>(More more info :</strong></span><a href="https://mausam.imd.gov.in/ahmedabad/"><span style="font-size: medium;"><em><strong>https://mausam.imd.gov.in/ahmedabad/</strong></em></span></a><span style="font-size: medium;">)</span></p>
                <p align="RIGHT">&nbsp;</p>
                <p>&nbsp;&nbsp;</p>
                <p style="text-align: center;" class="exportdocumentationnew"><span style="font-size: large;background-color: lightpink;"><strong>GOOD AGRICULTURAL PRACTICES FOR THE PRODUCTION&nbsp;OF VEGETABLE CROPS</strong></span></p>
                <p align="JUSTIFY"><span style="font-size: medium;">Growers need to produce a high-quality product efficiently to remain competitive; however, soil and water resources must also be preserved. Healthy, productive plants require healthy soil and clean water.</span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda" style="color: red;">Soil and Water Management</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Intensive vegetable production, whether for processing or fresh market, returns little organic matter to the soil. Tillage used to prepare the seedbed increases the loss of organic matter. To maintain or increase organic matter levels.</span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Soil Compaction</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Soil compaction is a growing concern for vegetable producers. Increased mechanization has led to larger and heavier equipment to ensure planting and harvesting are handled on time.&nbsp;Seedbed preparation and harvest operations under wet soil conditions are the major causes of soil compaction. </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Crop Rotation</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Crop rotation is a best management practice for vegetable growers. It will address loss of organic matter, disease, weed and insect pressures, soil nutrition, compaction and erosion. Two rules of thumb: i. The longer the rotation, the better. ii. Rotate between different families of crops.</span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Wind and Water Erosion</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Level sandy soils are at the highest risk of wind erosion while hilly fields are also subject to water erosion. Windbreaks, grassed waterways and other structures address problems in the&nbsp;long-term. </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Irrigation</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Average rainfall is irregular and sometimes is inadequate for vegetables. Irrigation can be profitable with high-value vegetable crops</span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Plasticulture</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">This practice combines plastic mulches with row covers and drip irrigation. The practice is costly and is only practical with fresh market vegetables.</span></p>
                <p align="RIGHT" style="text-align: right;"><span style="font-size: medium;">(</span><span style="font-size: medium;"><em>&nbsp;</em></span><span style="font-size: medium;"><em><u><strong>For more info :&nbsp;</strong></u></em></span><a href="https://ikhedut.gujarat.gov.in/"><span style="font-size: medium;"><em><strong>https://ikhedut.gujarat.gov.in/</strong></em></span></a><span style="font-size: medium;"><em><u><strong>)</strong></u></em></span></p>
                <p align="RIGHT">&nbsp;</p>
                <p align="RIGHT">&nbsp;</p>
                <p style="text-align: center;" class="exportdocumentationnew"><span style="font-size: large;background-color: lightpink;"><strong>GOOD AGRICULTURAL PRACTICES FOR THE PRODUCTION OF FRUIT CROPS</strong></span></p>
                <p align="JUSTIFY"><span style="font-size: medium;">Best management practices for orchards include attention to: site preparation, soil management, water management including irrigation and drainage, nutrient management and pest management. Growers can adjust each component to maximize profits while protecting the environment.</span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Orchard Site Preparation</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">When planning a new orchard, select and prepare an appropriate site at least one to three years in advance. </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Fumigation</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Applying fumigants is usually done with a three-point hitch cultivator which places fumigants in a shallow band 1.75 m wide and 15 cm deep. </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Tree Density</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Deciding how wide the tree rows should be and how far apart trees should be planted will affect productivity, nutrient management, pest management and water requirements. </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Soil Management</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Good soil management in orchards should promote tree growth and good health.</span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Cultivation/Cover Crops</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Soil is worked in April and cultivated regularly until early June.&nbsp; The cover crop most widely used is annual ryegrass. </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Sod Systems</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Producers grow permanent sod between tree rows and mow sod for the life of the orchard. </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Herbicide Strips</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">The objective of herbicide strip is weed suppression during the critical growth stage from early spring to midsummer. </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Soil Compaction</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">The constant movement of equipment between tree rows may compact soil and result in poor drainage. Sub-soiling or mechanical aerators open up soil. </span></p>
                <p align="RIGHT" style="text-align: right;"><span style="font-size: medium;">(</span><span style="font-size: medium;"><em>&nbsp;</em></span><span style="font-size: medium;"><em><u><strong>For more info:&nbsp;</strong></u></em></span><a href="https://agriculture.rajasthan.gov.in/home"><span style="font-size: medium;"><em><strong>https://agriculture.rajasthan.gov.in/home</strong></em></span></a><span style="font-size: medium;"><em><u><strong>)</strong></u></em></span></p>
                <p>&nbsp;</p>
                <p>&nbsp;&nbsp;</p>
                <p style="text-align: center;" class="exportdocumentationnew"><span style="font-size: large;background-color: lightpink;"><strong>GOOD AGRICULTURAL PRACTICES (GAP) FOR FRESH FRUITS AND VEGETABLES</strong></span></p>
                <p align="JUSTIFY"><span style="font-size: medium;">Considering the importance of GAP, fruits and vegetable farmers should adopt it and minimize the risk of contamination, right from pre-planting stage of crop to post-harvest stage of the crop.&nbsp;&nbsp;Some of the major risk and minimizing measures are highlighted below:</span></p>
                <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">PRE-PLANTING MEASURES</strong></span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Site selection</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Land or site for fruits and vegetable production should be selected on the basis of land history, previous manure applications and crop rotation.&nbsp;</span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Manure handling and field application</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Livestock manure can be a valuable source of nutrients, but it also can be a source of human pathogens if not managed correctly.&nbsp; </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Manure storage and sourcing</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Manure should be stored as far away as practical from areas where fresh produce is grown and handled.&nbsp; </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Timely application of manure</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Manure should be applied at the end of the season to all planned vegetable ground or fruit acreage, preferably when soils are warm, non-saturated, and cover-cropped.&nbsp; </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Selection of appropriate crop</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Farmers should avoid growing root and leafy crops in the year that manure is applied to a field.&nbsp; </span></p>
                <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">PRODUCTION MEASURES</strong></span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Irrigation water quality&nbsp;</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Ideally, water used for irrigation or chemical spray should be free from pathogen.&nbsp; However, potable water or municipal water is not feasible for extensive use for crop production.&nbsp; </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Irrigation methods</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Drip irrigation method should be used, whenever possible to reduce the risk of crop contamination because the edible parts of most crops are not wetted directly.&nbsp; </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Field sanitation and animal exclusion&nbsp;</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Farmers should stay out of wet fields to reduce the spread of plant or human pathogens.&nbsp; Tractors that were used in manure handling should be cleaned prior to entering produce fields.&nbsp; </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Worker facilities and hygiene</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Ideally, farm workers should be provided clean, well-maintained and hygienic toilet facilities around the farming areas.&nbsp; </span></p>
                <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">HARVEST</strong></span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Clean harvest aids</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Bins and all crop containers have to washed and rinsed under high pressure.&nbsp; All crop containers should be sanitized before harvest</span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Worker hygiene and training&nbsp;</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Good personal hygiene is particularly important during the harvest of crops.&nbsp; Sick employees or those with contaminated hands can spread pathogens to produce.&nbsp; </span></p>
                <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">POST-HARVEST HANDLING</strong></span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Worker hygiene:&nbsp;&nbsp;</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Hands can contaminate fresh fruits and vegetables with harmful microbes.&nbsp; Packing area should be cleaned and sanitized.&nbsp; </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Monitor wash water quality&nbsp;&nbsp;</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Potable water should be preferably used in all washing operations.&nbsp; Clean water should be maintained in dump tank by sanitizing and changing water regularly.&nbsp; Use chlorinated water and other labeled disinfectants to wash fresh produce.</span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Sanitize packinghouse and packing operations&nbsp;&nbsp;</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Loading, staging, and all food contact surfaces should be cleaned and sanitized at the end of each day</span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Pre-cooling and cold storage&nbsp;</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">After harvesting, fruits and vegetables should be quickly cooled to minimize the growth of pathogens and maintain good quality.&nbsp; Water bath temperature for cooling should not be more than 10F cooler than the produce pulp temperature.&nbsp; </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Transportation of produce from farm to market&nbsp;&nbsp;</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Proper cleanliness of the transportation vehicles should be ensured before loading.&nbsp; Farmers have to make sure that fresh fruits and vegetables are not shipped in trucks which have carried live animals or harmful substances.&nbsp; </span></p>
                <p align="RIGHT" style="text-align: right;"><u> <span style="font-size: medium;"><em><strong>(For more info:&nbsp;</strong></em></span></u><a href="https://pmfby.gov.in/"><span style="font-size: medium;"><em><strong>https://pmfby.gov.in/</strong></em></span></a><span style="font-size: medium;">)</span></p>
                <p>&nbsp;</p>
                <p>&nbsp;&nbsp;&nbsp;</p>
                <p style="text-align: center;" class="exportdocumentationnew"><span style="font-size: large;background-color: lightpink;"><strong>GOOD AGRICULTURAL PRACTICES FOR THE PRODUCTION OF LEAFY GREENS</strong></span></p>
                <p align="JUSTIFY"><span style="font-size: medium;">Principles and practices that will help minimize contamination, reduce survival of pathogens and prevent cross-contamination.</span></p>
                <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Know where the risks are:</strong></span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Irrigation</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Like all crops, leafy greens require water either via rain events or through irrigation. If it's time to irrigate, know the quality of your water source. </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Fertilizer</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY">&nbsp;<span style="font-size: medium;">All horticultural crops require nitrogen and other nutrients to grow. Growers can provide nitrogen to their crops through synthetic fertilizers, manure or manure-based composts. </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Worker Sanitation</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY">&nbsp;<span style="font-size: medium;">Ensure that all staff is educated on the importance and need for good hygiene. Washing of hands is an effective way to minimize worker-based contamination. </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Harvest and Packing</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Many leafy greens are harvested and packed in the field. However, some do receive further processing including washing and individual packaging. </span></p>
                <ul>
                    <li>
                        <p align="JUSTIFY"><span style="font-size: medium;"><strong class="aboutapeda"style="color: red;">Transportation</strong></span></p>
                    </li>
                </ul>
                <p align="JUSTIFY"><span style="font-size: medium;">Unfortunately, the risk of contamination doesn't end when the produce leaves the grower's premises. The risk of microbial pathogens and reduced quality can increase during transportation if proper temperatures are not maintained. </span></p>
                <p align="RIGHT" style="text-align: right;"><span style="font-size: medium;"><em><u><strong>(For more info:&nbsp;</strong></u></em></span><a href="http://agritech.tnau.ac.in/gap_gmp_glp/gap_horti.html"><span style="font-size: medium;"><em><strong>http://agritech.tnau.ac.in/gap_gmp_glp/gap_horti.html</strong></em></span></a><span style="font-size: medium;">)</span></p>
                <p>&nbsp;</p>


            </div>
        </div>
    </div>
</div>
  </div>
</div>