
{% extends "index.html" %}

{% block title %}Frequently Asked Questions {% endblock title %}

{% block content %}
    <section class="a23 bg">
        <section id="faq" class="faq">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2><br> <br>Frequently Asked Questions</h2>
                    <p>These are some frequently asked questions</p>
                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                                data-bs-target="#faq-list-1">What is Bharat Krishisarthi? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                <p>
                                    <a>Bharat Krishisarthi is a web-based plaƞorm dedicated to connecting farmers with
                                        agricultural
                                        experts. We provide a space for real-time knowledge sharing, problem-solving, and
                                        informed
                                        decision-making to improve crop yield and farm management. </a>
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#faq-list-2" class="collapsed"> How does Bharat Krishisarthi work?
                                <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    <a>Our platform allows farmers to ask questions, seek advice, and engage with a network of agricultural
                                        experts. You can post your queries, and experts will provide timely responses to help you make
                                        informed decisions about your farming practices.
                                        </a>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#faq-list-3" class="collapsed">Is Bharat Krishisarthi free to use? 
                             <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    <a>Yes, our plaƞorm is free for farmers. We are commiƩed to making agricultural experƟse accessible to
                                        all.</a>
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#faq-list-4" class="collapsed"> How can I join Bharat Krishisarthi? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    <a>Joining Bharat Krishisarthi is easy. Simply sign up for a free account, and you'll gain access to our
                                        community of experts and fellow farmers. 
                                        </a>
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#faq-list-5" class="collapsed">  Do I need any special equipment or software to use Bharat Krishisarthi? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    <a>No, all you need is an internet-connected device, such as a computer, tablet, or smartphone, to
                                    access our plaƞorm. There's no need for any addiƟonal soŌware or equipment. 
                                    </a>
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </section>
    </section>
{% endblock content %}