<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
        <nav class="navbar header">
            <ul>
                <li><img src="/static/photo/a0.png" style="width: 12%;border-radius: 30%;border-style: groove;" alt=""></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contact</a></li>
                <div class="login" >
                   
                    <button type="butiv class="nav-loginton" class="btn btn-success" >Login</button>
                    <div style="padding-left: 20%;">
                        <img  height="42px" width="90px" src="/static/photo/Amrit.png" alt="">
                    </div>
                </div >
                
            </ul>
        </nav>
   
   
    <!-- Add some content here to demonstrate the sticky effect -->
   

   <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/photo/a3.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/photo/a5.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/photo/a4.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

   
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis inventore sequi illo voluptas veniam, recusandae ipsa repudiandae dolor eligendi iure aperiam odit accusantium dignissimos rem perferendis quas. Porro itaque ab rem! Officia provident omnis excepturi maiores suscipit architecto debitis mollitia, molestiae culpa hic iusto consequuntur aspernatur quae ab non. Alias aperiam inventore accusamus blanditiis, ea ab!</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus hic laboriosam, atque inventore voluptas veritatis minima tempore quia, voluptatem qui eum illum neque at suscipit possimus error debitis accusamus numquam.</p>
       
    
</div>


      <div class="footer">
        <div class="footer-content">
            <p>&copy; 2023 Bharat Krishi Sarthi Official Page</p>
            <ul>
                <li><a href="#">Contact</a></li>
                <li><img style="height: 30px;" src="/static/photo/NIC.png"></img></li>
            </ul>
        </div>
    </div>




    <!-- <img src="/static/photo/a1.webp" alt=""> -->

</body>
</html>